<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sample Headline">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>login</title>
    <link rel="stylesheet" href="Geral.css" media="screen">
    <link rel="stylesheet" href="login.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="geral.js" defer=""></script>
    <meta name="generator" content="avaliaçãoA3">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="administrar.css" media="screen">
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
    }    
    </script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="login">
    <meta property="og:type" content="website">



<main class="container form-floating ">
       
               

  </head>


  <body 
  
 

    <section class="fundo_pagina_login u-align-center u-clearfix 
    u-image u-section-1" id="sec-9707" data-image-width="1600"
     data-image-height="1171">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="login u-form u-form-1">
    
          <form action="#" method="POST" class="u-clearfix
           u-form-spacing-10 u-form-vertical u-inner-form" 
           source="custom" name="form" style="padding: 10px;">

            <div class="u-form-email u-form-group">
              <label for="email-21ef" class="u-label">Email</label>
              <!--email mensagem -->
              <input type="email" placeholder="Insira um endereço de email válido" 
              id="email-21ef" name="email" class="u-border-1 u-border-grey-30
               u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-name">
              <!--senha  -->
              <label for="name-21ef" class="u-label">senha</label>
              <input type="password" placeholder="Insira sua senha" 
              id="name-21ef" name="name" class="u-border-1 u-border-grey-30 u-input
               u-input-rectangle u-white" required="">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
             <center> <a href="#" class="u-border-2  u-border-grey-10 u-btn u-btn-submit
              u-button-style u-white ">login</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> 
              seja bem vindo!</div>

            <div class="u-form-send-error u-form-send-message"> 
              erro ao entrar (em construção...) </div>  


            </main>

            <input type="hidden" value="" name="recaptchaResponse">

            </form>
            </div>
            </div>
            </section>
      
    
    <footer class="rotape_forma u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7c6c"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="rotap_texto u-small-text u-text u-text-variant u-text-1">Trabalho realizado para avaliação A3, do curso Análise e desenvolvimento de sistema</p>
      </div></footer>
   
   
  </body>
</html>


  